@import "tailwindcss";
html {
  scroll-behavior: smooth;
}
body {
  @apply bg-[#0a192f] text-white;
}

.logo_slider {
  overflow: hidden;
  height: 150px;
  display: flex;
  align-items: center;
  position: relative;
}

.logo_slider__track {
  display: flex;
  gap: 5rem; /* Odstęp między logami */
  width: max-content;
  animation: slideLogos 20s linear infinite;
}

.logo_slider__item {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes slideLogos {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-20%);
  }
}
